language: java
jdk:
- openjdk8

before_install: chmod +x gradlew
script: "./gradlew build -s"
sudo: false

deploy:
  provider: releases
  api_key:
    secure: ru6f7DVuaNFc7cqHe2tGhXfd6/CEB1yTqUmBQtQT+pQ7Ur4i0j8i4YEoUe/LNlQGwFPkcIfStj5QfVNtcH70juEYDssjzGvYCONrWTlLtjx227FRcQUZKKkYJ4+Tid+Z74q66idtxcnNnKgzGXnfl+pfJdl+XWz6zx47Y+PxY3V6XSUSV128Eo1wGunTtfRvFpw7le/pGhfAyrQhzRddL/76MeXJiYL/h/9dFvnHdBL4myhn3AqvXlJ/w9nBD32nZddywSrO7G2u5xfZ4+Jdha53+i+6yNC8KvohdaHTxmsVzPwhyDx+5oiYcEqIm9QDSTR3eMT+x+POp3vxjyGJ4QJguJN1KsJPmAfD+e0ibQq4X9RScU1zC1Hg136nKbChkIcsoV9K0LtICOxNow/fu8ztdOtQQYZg/GLqE3QAgfmrN4hvm40LVo4ZpVKBXKAGIaBdjZFI6WiCKYlULJoS6cr8L2zUFs5i6kUviVchhOYMu3wCtkO8KcCec47TZH5FQOi7jJIOeDA7UYublGHY6NzkJQ1nEltKgc0k0riIFXaOB0+MSK2bMGgyW93+2OptNujY40Y6h0Vb3CpyBKWiLhe2sbiWKehtM+lbbJAkxDsPR+ZVW3GkYKROOw1/qb7HzuwCeghMHrwXrTAY4sBg3mG74M2AWybzg6+gj68EGiE=
  overwrite: true
  file_glob: true
  file: "build/libs/*"
  skip_cleanup: true
  on:
    repo: Pxl-8/ColouredChat
    tags: true
